body {
  /* font-family: "Ubuntu" !important; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


h1 {

  /* color: #98A8F8; */
  /* color: #2A3990; */

  /* default */
  color: #77ACF1;


}

h3 {
  /*
  color: #98A8F8; */
  /* color: #2A3990; */
  color: #77ACF1;


}

p {
  /* padding:3% 15% 7%; */
  padding: 0 3%;
}

h6 {
  /* padding:3% 15% 7%; */
  padding: 0 3%;
}

a.one:link {
  color: black;
  text-decoration: none;
}

a.one:visited {
  color: black;
  text-decoration: none;
}

a.one:active {
  color: black;
  text-decoration: none;
}

a.one:hover {
  color: grey;
}

.intro-padding {
  padding: 0 3%;
}



/* Container for navigation row */
.container-fluid {
  padding: 1% 10%;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
  /* background-color: #00005C; */
  background-color: #1363DF;
}

.nav-item {

  padding: 0 18px;


}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}


.table-format {
  padding: 0 18px;
  border-spacing: 20px;

}


td {
  padding: 0 15px;
}



.clist {
  /* text-indent: 10%; */
  margin-left: 35px;
}


#content {
  padding: 0 1rem;
}

.footer {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  /* position: absolute; */
  bottom: 0;
}


.link-style:link {
  color: grey;
  text-decoration: none;
}

.link-style:hover {
  color: #D3D3D3;
}

.link-style:visited {
  color: grey;
  text-decoration: none;
}

.link-style:active {
  color: grey;
  text-decoration: none;
}

.footer-style {
  text-decoration: none;
  color: grey;
  font-size: 1rem;
  margin-left: 0;
  padding: 0 18px 0 0;
}

.footer-style:hover {
  color: #D3D3D3;
}

.carousel-title {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.carousel-title:hover {
  color: #D3D3D3;
}


.img-container {
  text-align: left;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}



.video-container {
  position: relative;
  padding-bottom: 37.5%;
  /* 8:3 aspect ratio (h/w) */
  width: 60%;
  /* Set width as a percentage */
}


@media (max-width: 768px) {
  .video-container {
    width: 80%;
    /* Adjust width for smaller screens */
  }
}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.cube-style {
  /* Add your custom styles for the cube here */
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(45deg);
  /* Add more styles as needed */
}

/* Default height for medium-sized screens and above */
.carousel-inner {
  height: 450px;
}



/* Adjust the height for smaller screens (e.g., mobile devices) */
@media (max-width: 750px) {
  .carousel-inner {


    height: 300px;
    /* or any other suitable value for smaller screens */
  }
}

.carousel-inner img {
  max-height: 430px;
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

/* Centering the image container using CSS flexbox */
.image-container {
  display: flex;
  justify-content: center;
  /* Horizontally center the content */
  align-items: center;
  /* Vertically center the content */
}

/* Style the image */
.image-container img {
  max-width: 100%;
  display: block;
}

.image-container figcaption {
  margin-top: 10px;
  /* Adjust the margin as needed to control spacing */
}

@media (max-width: 768px) {
  figure img {
    max-width: 100%;
    /* Adjust the width as needed */
  }
}

@media (max-width: 767px) {
  #footer.fixed-bottom {
    position: relative;
    /* or remove the fixed positioning */
  }
}

.bullet_indent {
  padding: 0 7%;
}

.preStyle {
  /* background-color: #d6ebf5; */
  background-color: black;
  color: white;
}

.hidden-table-row {
  display: none;
}

.hidden-education-list-row {
  display: none;
}

.hidden-certificate-list-row {
  display: none;
}

.thumbnail {
  width: 150px;
  height: auto;
  /* border-style: solid;
  color: red */
}

.thumbnailtableau {
  width: 20px;
  /* Adjust as needed */
  height: auto;
  /* Maintain aspect ratio */
}